#FormDiv{
    width: 50%;
    margin: auto;
}

.cv{
    /* color: blue; */
}
#SecUL{
    list-style-type: none;
}
#Main{
    display:none;
    margin: auto;
    width: 800px;
    /* background-color: blue; */
}
li{
    font-size: 16px;
    color: rgb(4, 22, 39);

}
.ahead{
  margin-top: -5px;  
}
#print{
    background-color: rgb(0, 116, 211);
    color: white;
    font-size: 25px;
border-radius: 15px;
float: right;
}

.firstul{
    display: inline-block;
margin-top: -15px;
}
.Head{
    font-size: 30px;
    color: rgb(101, 0, 160);
    margin: 0;    
}
.Head::first-letter{
font-size: 50px;
font-family: fantasy;

}   
#Head2{
    margin-top: -18px;
    margin-left: 50px;
}


#image{
    height: 150px;
float: right;
position: relative ;
margin-top: -100px;
    display: inline-block;



}

#showname{
    display: inline-block;
    font-size: 45px;
    position: relative;
    top: -40px;
    /* left: 390px; */
    font-weight: 700;
    /* background-color: rgb(214, 212, 212); */
    padding: 15px 0px 15px 0px;
    width: 673px;
    text-align: right;
    /* border-top: 5px solid  black;     */
    /* border-right: 5px solid  black; */
}

#num{
    display: inline-block;
    background-color: rgb(133, 133, 255);
    width: 673px;
    position: relative;
    /* left: 15px; */
    top: -40px;
    text-align: right;
    font-size: 20px;
    /* text-align: right; */
    /* margin-left: 50px; */
/* margin-top: 30px; */


}

















